release
.DS_Store
TAUnrealDemo/.DS_Store
TAUnrealDemo/Binaries
TAUnrealDemo/Intermediate
TAUnrealDemo/Plugins/ThinkingAnalytics/Binaries
TAUnrealDemo/Plugins/ThinkingAnalytics/Intermediate
TAUnrealDemo/Saved/SaveGames
MacNoEditor
TAUnrealDemo/MacNoEditor
TAUnrealDemo/Saved/Cooked
TAUnrealDemo/Saved/MaterialStats
TAUnrealDemo/Saved/MaterialStatsDebug
TAUnrealDemo/Saved/Shaders
TAUnrealDemo/Saved/StagedBuilds
TAUnrealDemo/Saved/Temp
TAUnrealDemo/Build
